h2 {
    text-align: center;
}

.cards {
    margin: auto;
    width: 60%;
}

mat-card {
    width: 100%;
    margin: auto;
}

// input {
//     width: 50%;
// }

mat-form-field {
    width: calc(100% - 40px);    
}

button {
    display:inline;
    // width: 30px;
    // height: 50px;
}

.hours {
    min-height: 200px;
    margin-top:30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hours-input {
    max-width: 75px;
    margin-left: 15px;
    text-align: center;
}

.emp-name {
    margin-left: 5px;
    text-align: center
}

.days-of-week {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-cell {
    text-align: center;
}

.submit {
    width: 75px;
    margin-left: auto;
    margin-top: 15px;
}